<div class="edit_header">
    <a href="/events">Events Dashboard</a>
    <form action="/users/destroy" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log Out">
    </form>
</div>

<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
        <p class="error"> <%= e %> </p>
    <% end %>
<% end %> 
<% if flash[:success] %>
    <% flash[:success].each do |s| %>
        <p class="success"> <%= s %> </p>
    <% end %>
<% end %> 

<div class="edit_form_container">
    <h1> Edit User #<%= current_user.id %> </h1>
    <form action="/users/<%= current_user.id %>/edit" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="patch">
        <div class="input_element">
            <label>First Name: </label>
            <input type="text" name="first_name" value="<%= current_user.first_name %>">
        </div>
        <div class="input_element">
            <label>Last Name: </label>
            <input type="text" name="last_name" value="<%= current_user.last_name %>">
        </div>
        <div class="input_element">
            <label>Email Address: </label>
            <input type="text" name="email" value="<%= current_user.email %>">
        </div>
        <div class="input_element">
            <label>City: </label>
            <input type="text" name="city" value="<%= current_user.city %>">
        </div>
        <div class="input_element">
            <label>State: </label>
            <%= select_tag "state", options_for_select(us_states, current_user.state) %>
        </div>
        <input type="submit" value="Update Records">
    </form>
</div>